@* model被称为强类型 *@
@model HelperMethods.Models.Person
@{
                /**/

                ViewBag.Title = "CreatePerson";
                Layout = "/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<h2>CreatePerson</h2>
@*@using (Html.BeginForm(
        "CreatePerson",//动作方法
        "Home",//控制器名称
        new { id = "MyIdValue" },//路由配置中id片段变量的值
        FormMethod.Post,//form元素中method标签属性的值
        new { @class = "personClass", data_formType = "person" }//form元素的其他标签属性
        ))
    {
        <div class="dataElem">
            <label>PersonId</label>
            <input name="personId" value="@Model.PersonId" />
        </div>
        <div class="dataElem">
            <label>First Name</label>
            <input name="FirstName" value="@Model.FirstName" />
        </div>
        <div class="dataElem">
            <label>LastName</label>
            <input name="LastName" value="@Model.LastName" />
        </div>
        <input type="submit" value="Submit" />
    }*@

@using (Html.BeginRouteForm(
        "FormRoute",//路由名称
        new { },//路由片段变量
        FormMethod.Post,//form元素中method标签属性的值
        new { @class = "personClass", data_formType = "person" }//form元素的其他标签属性
        ))
{
    <div class="dataElem">
        <label>PersonId</label>
        @*@Html.TextBox("personId",Model.PersonId)*@
        @* 使用model生成html元素 *@
        @Html.TextBoxFor(m => m.PersonId)
    </div>
    <div class="dataElem">
        <label>First Name</label>
        @*@Html.TextBox("FristName",Model.FirstName)*@
        @Html.TextBoxFor(m => m.FirstName)
    </div>
    <div class="dataElem">
        <label>LastName</label>
        @*@Html.TextBox("LastName",Model.LastName)*@
        @Html.TextBoxFor(m => m.LastName)
    </div>
    <div class="dataElem">
        <label>Role</label>
       @Html.DropDownListFor(m=>m.role,new SelectList(Enum.GetNames(typeof(HelperMethods.Models.Role))))
    </div>
    <input type="submit" value="Submit" />
}
